# Dependencies
node_modules/

# Build output
dist/

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Env & secrets
.env*.local
*.pem

# TypeScript
*.tsbuildinfo

# Yarn
.yarn/install-state.gz

# Generated native folders
/ios
/android

# Test
coverage/
reference/
